---
interface Props {
  annotation?: string;
  quote: string;
  cite: string;
}

const { annotation, quote, cite } = Astro.props;
---

<section class="quote-block">
  {annotation && <p class="annotation">{annotation}</p>}
  <blockquote set:html={quote} />
  <cite>{cite}</cite>
</section>
